html {
    scroll-behavior: smooth;
  }

  body{
    background-image: url("../imagenes/275333768_1249035258838010_9142223170740698859_n.webp");
    margin: 0;
    padding: 0;
    
   
  
  }
  
  /* Navbar */
  .navbar {
    backdrop-filter: blur(15px);
    background-color: #343a40;
    padding: 10px 20px;
  }
  
  .navbar-brand {
    color: white;
    font-weight: bold;
  }
  
  .navbar-nav {
    gap: 10px;
  }
  
  .nav-link {
    color: white;
    position: relative;
    transition: color 0.3s ease;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: #00e676;
    transition: width 0.3s ease;
  }
  
  .nav-link:hover::after {
    width: 100%;
  }
  
  .nav-link:hover {
    color: #00e676;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .navbar-nav {
      gap: 0;
    }
    
    .product-item {
      width: 100%; /* Asegura que los productos ocupen todo el ancho en pantallas pequeñas */
    }
    
    .growshop-section {
      padding: 20px; /* Reducir el padding para pantallas pequeñas */
    }
    
    .product-list {
      gap: 10px; /* Reducir el gap entre los productos en pantallas pequeñas */
    }
  }
  
  .navbar-brand img:hover {
    transform: scale(2.1) rotate(-5deg);
  }
  /* Estilo para el Grow Shop */
  .growshop-section {
    background: linear-gradient(to bottom right, #2a5298, #1e3c72);
    color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(0, 0, 0);
    margin-bottom: 30px;
    background: rgba(0, 0, 0, 0.637); /* Fondo oscuro semitransparente para resaltar el blur */
    backdrop-filter: blur(1px); /* Aplica el blur al fondo */
   
  }
  
  .growshop-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    border-radius: 15px;
   
    
  }
  
  .growshop-section p {
    font-size: 1rem;
    margin-bottom: 20px;
    
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .product-item {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 45%;
    transition: transform 0.3s ease, background 0.3s ease;
  }
  
  .product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .product-item h4 {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  .product-item .price {
    font-size: 1.1rem;
    font-weight: bold;
    color: #00e676;
    margin-top: 10px;
  }
  
  .product-item:hover {
    transform: scale(1.05);
    background: rgba(0, 230, 118, 0.3);
    color: white; /* Cambiar el color del texto al hacer hover */
  }
  
  .product-item:hover h4,
  .product-item:hover .price {
    color: #00e676; /* Cambiar el color del título y el precio al hacer hover */
  }
  